@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    font: 16px Roboto, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    font-size: 3rem;
}

.intro {
    align-items: center;
    background-color: #2771CA;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    &__logo {
        border-radius: 50%;
        box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
        height: auto;
        margin: 12px 0;
        max-width: 300px;
        width: 40vmin;
    }

    &__title {
        margin: 0;
    }

    &__subtitle {
        font-size: 1.6rem;
        margin-left: 12px;
        margin-right: 12px;
        text-align: center;
    }

    &__link {
        color: #FAFF6B;      
        font-size: 1.2rem;
        margin: 12px;
        text-decoration: none;

        &__caption {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin: 4px;
            }
        }
    }
}
